<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
  <title>Банк | Редактиовать</title>
</head>
<body>
<div class="container">

  <div th:insert="layouts/layout :: header"></div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 th:text="${bank.title}"></h2>
      <form action="#" th:action="@{/bank-update}" th:object="${bank}" method="post">
        <div class="form-group">
          <label for="id">ID</label>
          <input readonly type="text" th:field="*{id}" class="form-control" id="id">
        </div>
        <div class="form-group">
          <label for="title">Наименование</label>
          <input type="text" th:field="*{title}" class="form-control" id="title">
        </div>
        <br>
        <div class="form-group">
          <input type="submit" value="Сохранить">
        </div>
      </form>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>

</body>
</html>