<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <title>Клиенты | Новый</title>
</head>
<body>

<div class="container">
    <div th:insert="layouts/layout :: header"></div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Новый клиент</h2>
            <form action="#" th:action="@{/client-create}" th:object="${client}" method="post">
                <div class="form-group">
                    <label for="name">ФИО</label>
                    <input type="text" th:field="*{fullName}" class="form-control" id="name" placeholder="Иванов Иван Иванович">
                    <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" style="color:red;"></div>
                </div>
                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input type="text" th:field="*{phone}" class="form-control" id="phone" placeholder="89991234567">
                    <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color:red;"></div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="example@mail.ru">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></div>
                </div>
                <div class="form-group">
                    <label for="passport">Номер паспорта</label>
                    <input type="text" th:field="*{passportNumber}" class="form-control" id="passport" placeholder="6758493012">
                    <div th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}" style="color:red;"></div>
                </div>
                <div class="form-group">
                    <label for="bank">Выберите банк</label>
                    <select name="bank" th:field="*{bank}" class="form-control" id="bank">
                        <option th:each="bank : ${banks}"
                                th:text="${bank.title}"
                                th:value="${bank.id}">
                        </option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Сохранить">
                </div>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/inputmask/jquery.inputmask.min.js}"></script>

<script>
    $(":input").inputmask();
</script>
</body>
</html>